.Text {
    position: relative;
}

.Thin {
    font-weight: 100;
}

.Thick {
    font-weight: bold;
}

.Normal {
    font-weight: normal;
}

.Line {}

.Line:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: #7146CE;
}

.Margin {
    margin: 15px 0;
}

.MarginTop {
    margin-top: 15px
}

.MarginBig {
    margin: 30px 0;
}

.MarginBottomBig {
    margin-bottom: 40px;
}

.Part {
    width: 70%;
}

.Hidden {
    display: none;
}

.Transition {
    transition: all .5s ease
}