.Horizontal {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 30px;
    margin: 15px 0
}

.Cell {
    border-right: 1px rgba(255, 255, 255, 0.5) solid;
    /* padding: 0 20px; */

}

.Cell>div {
    /* width: 80%; */
    margin: 0 auto;
}

.Cell {
    white-space: nowrap
}