.LangSelect {
    position: relative;
    cursor: pointer;
    margin-left: 5px;

}

.LangSelect img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

@media(max-width: 1290px) {
    .LangSelect img {
        width: 30px;
    }
}

@media(max-width: 600px) {
    .LangSelect img {
        width: 25px;
    }
}