.Social {
	padding-top: 20px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.Links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	/* margin: 15px 0; */
}

.Links img {
}

.Social span {
	font-size: 14px;
	margin-left: 10px;
}

.Message {
	align-items: center;
}

@media (max-width: 600px) {
	.Links {
		justify-content: space-evenly;
	}
}
