.NavigationItem {}

.NavigationItem a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 15px 0;
    transition: border .5s ease;
    border-bottom: 2px transparent solid
}

.NavigationItem a:hover {
    border-bottom: 2px #7146CE solid;

}