.ModalWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.Modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 100px auto;
	display: inline-block;
	width: 400px;
	z-index: 100;
	max-height: 100%;
	border-radius: 10px;
}
.ModalWrapper::-webkit-scrollbar {
	background: transparent;
	width: 0;
	height: 0;
}
.Modal::-webkit-scrollbar {
	background: transparent;
	width: 0;
	height: 0;
}

@media (max-width: 450px) {
	.Modal {
		width: 90%;
	}
}
