.SignForm {
	padding-top: 20px;
	max-height: 100%;
	/* overflow: scroll; */
}
.Buttons {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.Buttons button {
	border: none;
}
