.Header {
	position: relative;
}

.Light {
	color: #f7f7f7;
}

.Thin {
	font-weight: 100;
}

.Thick {
	font-weight: bold;
}

.Normal {
	font-weight: normal;
}

.Line {
}

.Line:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 50px;
	height: 2px;
	background: #7146ce;
}

.Margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.MarginBig {
	margin-top: 50px;
	margin-bottom: 50px;
}
.MarginTop {
	margin-top: 15px;
}
.MarginBottom {
	margin-bottom: 15px;
}

.MarginBottomBig {
	margin-bottom: 30px;
}

.PaddingBottom {
	padding-bottom: 15px;
}

.Center {
	text-align: center;
}

.Green {
	color: #3aff89;
}

.Pointer {
	cursor: pointer;
}

.Accent {
	color: #796de8;
}
