.Header {
	position: relative;
}

.Light {
	color: #f7f7f7;
}

.Thin {
	font-weight: 100;
}

.Thick {
	font-weight: bold;
}

.Normal {
	font-weight: normal;
}

.Line {
}

.Line:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 50px;
	height: 2px;
	background: #7146ce;
}

.Margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

.MarginBig {
	margin-top: 50px;
	margin-bottom: 50px;
}
.MarginTop {
	margin-top: 15px;
}
.MarginBottom {
	margin-bottom: 15px;
}

.MarginBottomBig {
	margin-bottom: 30px;
}
.MarginLeftRight {
	margin-left: 5px;
	margin-right: 5px;
}
.PaddingBottom {
	padding-bottom: 15px;
}

.Center {
	text-align: center;
}

.Green {
	color: #3aff89;
}

.Pointer {
	cursor: pointer;
}

.Accent {
	color: #796de8;
}
.Overflow {
	overflow: hidden;
}
@media (max-width: 1290px) {
	.Margin {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.MarginBig {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.MarginTop {
		margin-top: 12px;
	}
	.MarginBottom {
		margin-bottom: 12px;
	}

	.MarginBottomBig {
		margin-bottom: 23px;
	}
	.MarginLeftRight {
		margin-left: 4px;
		margin-right: 4px;
	}
	.PaddingBottom {
		padding-bottom: 12px;
	}
}
@media (max-width: 960px) {
	.Margin {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.MarginBig {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.MarginTop {
		margin-top: 10px;
	}
	.MarginBottom {
		margin-bottom: 10px;
	}

	.MarginBottomBig {
		margin-bottom: 18px;
	}
	.MarginLeftRight {
		margin-left: 4px;
		margin-right: 4px;
	}
	.PaddingBottom {
		padding-bottom: 10px;
	}
}
@media (max-width: 600px) {
	.Margin {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.MarginBig {
		margin-top: 24px;
		margin-bottom: 24px;
	}
	.MarginTop {
		margin-top: 8px;
	}
	.MarginBottom {
		margin-bottom: 8px;
	}

	.MarginBottomBig {
		margin-bottom: 15px;
	}
	.MarginLeftRight {
		margin-left: 3px;
		margin-right: 3px;
	}
	.PaddingBottom {
		padding-bottom: 8px;
	}
}
