.AppBar {
	background: #ffffff;
	box-shadow: 0px 5px 10px #e5e5e5;
	padding: 11px 0;
}

.NavigationItems {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.NavigationItems li {
	list-style-type: none;
}

.Buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Buttons button {
	height: 40px;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.Buttons button img {
	width: 16px;
	margin-right: 5px;
}

@media (max-width: 1290px) {
	.NavigationItems {
		padding-left: 25px;
		padding-right: 25px;
		font-size: 12px;
	}

	.Buttons button {
		font-size: 12px;
		margin-right: 10px;
		height: 30px;
	}
	.Buttons button img {
		width: 14px;
	}
}

@media (max-width: 960px) {
	.NavigationItems {
		padding-left: 25px;
		padding-right: 25px;
		font-size: 12px;
	}

	.Buttons button {
		font-size: 12px;
		margin-right: 5px;
		height: 25px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.Buttons button img {
		width: 12px;
	}
}
.ButtonsAuthorized {
	display: flex;
	align-items: center;
	border-radius: 8px;
	border: 1px solid #7146ce;
	padding: 2px 5px;
	box-sizing: border-box;
}
.ButtonsAuthorized button {
	border: none;
	border-right: 1px #7146ce solid;
	border-radius: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px 10px;
	height: 30px;
}

.ButtonsAuthorized h6 {
	padding-right: 30px;
}

@media (max-width: 600px) {
	.NavigationItems {
		padding-left: 10px;
		padding-right: 10px;
	}

	.Buttons button {
		font-size: 10px;
		margin-right: 5px;
		height: 24px;
		padding: 0px 8px;
	}
	.Buttons button img {
		width: 10px;
	}
}
@media (max-width: 400px) {
	.NavigationItems {
		padding-left: 5px;
		padding-right: 0px;
	}
	.Buttons button {
		font-size: 9px;
		margin-right: 5px;
		height: 20px;
		padding: 0px 4px;
	}
	.Buttons button img {
		width: 8px;
	}

	.ButtonsAuthorized h6 {
		padding-right: 10px;
		font-size: 8px;
	}
}
